* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body {
    background-color: #fff;
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
    color: white;
    height:100%;
}

.pwsnav{
	text-align: center;
	background-color: #fafafa;
	border-bottom: 1px solid #e5e5e5;
	padding-top: 5px;
}
.pwsnavlist{
	list-style: none;
	position:relative;
}
.pwsnavlist li{
   	display:inline-block;
}
.btn:link,
.btn:visited {
	color:rgba(0,0,0,.85);
    display: inline-block;
    text-decoration: none;
    font-weight: 500;
}

.btn:hover {
	text-decoration: underline;
}

nav > .btn:hover {
	text-decoration: none;
}

.verticalDivider:before{
	content: '|';
    padding: 0 .3em 0 .1em;
    color: #999;
    font-weight: 500;
}
.section-about-us{
	background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(img/back-customers-min.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(img/back-customers-min.jpg);
    background-size: cover;
    color: #fff;
    height:100vh;
    background-attachment: fixed;
}
.container {
    width: 100%;
    max-width: 980px;
    margin: 0 auto;
    overflow: hidden;
    line-height: 150%;
    }

.aboutusSection {
	padding-top: 5%;
}

.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
}
.pwsnav h1, h2 {
	font-weight: 500;
	margin:0 0 10px 0;
	font-size: 80%;
	color:rgba(0,0,0,.85);
}

h2 {
	font-size: 120%;
	width: 100%;
    margin-top: 20px;
}


.container{
	text-align: left;
	padding-left: 5px;
}

.pseudoBottomBorder:after {
    content: ""; /* This is necessary for the pseudo element to work. */ 
    display: block; /* This will put the pseudo element on its own line. */
    margin: 0 auto; /* This will center the border. */
    width: 10%; /* Change this to whatever width you want. */
    padding-top: 12px; /* This creates some space between the element and the border. */
    border-bottom: 1px solid #ccc; /* This creates the border. Replace black with whatever color you want. */
}

.pseudoContent:after {
	content: '';
	display: block; 
	padding-top: 8px;
}
.fontclass{
	font-size: 80%;
	text-align: center;
	color:rgba(0,0,0,.85);
	font-weight:500;
}
@media screen and (min-width: 461px) {
  
   .pwsnav h1 {
	font-size: 110%;
}  
.fontclass{
	font-size: 90%;
}	
}